<div id='page_title'>
  <%= title('Edit A Team', :h1) %>
</div>

<% form_for(@team) do |f| %>
<%= f.error_messages :header_message => 'Errors prevented you from saving your selections.', :message => 'We encountered the following problems:' %>

<p>
  From here you can select the quizzers which will be on your team (<%= @team.name %>). Check all that apply. The
  following rules apply to quizzer selections.
  <ul>
    <li>You may only select seven quizzers per team.</li>
    <li>Quizzers may not be on more than one district team.</li>
    <li>Quizzers may not be on more than one local team.</li>
    <li>Quizzers may not be on both a field team and a novice team.</li>
  </uL>
</p>
<p>
  Available quizzers:
</p>
<% if admin? %>
<p>
  <%= link_to 'Show all quizzers', edit_team_path(@team.id, :show_all => true) %>
</p>
<% end %>
  <% if @quizzers.size == 0 %>
    <div>There are currently no quizzers available for selection.</div>
  <% else %>
    <% @districts.sort.map do |name,quizzers| %>
      <div>
      <div style='font-weight: bold; padding-bottom: 5px;'><%= name %></div>
      <div class='quizzer_list'>
        <div>
          <% i = 0 %>
          <% num_per_column = quizzers.size / 3 %>
          <% num_per_column = 10 if num_per_column == 0 %>
          <% quizzers.each do |quizzer| %>
            <% i = i + 1 %>
            <%= check_box_tag("team[participant_registration_ids][]", quizzer.id, @team.participant_registrations.include?(quizzer)) %>
            <span id='participant_registration_<%= quizzer.id %>'><%= quizzer.full_name %> <%= "(unpaid)" if !quizzer.paid? %></span><br/>
            <%= '</div><div>' if i % num_per_column == 0 %>
          <% end %>
        </div>
      </div>
      <div style='clear:left; padding-bottom:15px;'></div>
      </div>
    <% end %>
  <% end %>
<div style='clear: left;'></div>
</br/>
<div>
    <% if params[:show_all] && admin? %>
      <input type='hidden' name='show_all' value='true'>
    <% end %>
    <%= f.submit 'Save Selections', {:class => 'btn btn-primary'} %>
</div>
<% end %>
