<div class='equipment'>
  <p>
    <span class='removal_link'><%= remove_link( form ) %></span>
    <span class='title'>Interface Boxes</span>
    <%= form.hidden_field :equipment_type, :value => 'interface_boxes' %>
  </p>
  <p>
    <%= form.label :ib_type, 'Type: ' %><%= form.select :ib_type, ['Parallel','USB'], :prompt => '- Select -' %>
  </p>
  <p>
    <%= form.label :num_ib, 'Number: ' %><%= form.text_field :num_ib, :size => 10 %>
  </p>
</div>