<div class='equipment'>
  <p>
    <span class='removal_link'><%= remove_link( form ) %></span>
    <span class='title'>Pads</span>
    <%= form.hidden_field :equipment_type, :value => 'pads' %>
    <%= form.hidden_field :first, :value => true if form.object.first? %>
  </p>
  <p>
    <%= form.label :color, 'Color: ' %><%= form.select :color, ['Red','Yellow','Green','Blue','Other'], :prompt => '- Select -' %>
    &nbsp;&nbsp;<%= form.label :number, 'Quantity: ' %><%= form.text_field :number, :size => 10 %>
  </p>
</div>