<div id='page_title'>
  <%= title('Q2016 Equipment Registration', :h1) %>
</div>
<%= render :partial => 'pages/page', :locals => { :page => @page } if !@page.nil? %>

<% form_for @equipment_registration do |f| %>
  <%= error_messages_for :equipment_registration, :header_message => "There were errors with your registration.", :message => "We encountered the following problems:" %>

  <h3>Basics</h3>
  <% if admin? or equipment_admin? %>
  <p>
	  <%= f.label :user, 'User' %>
	  <br/>
	  <%= f.collection_select :user_id,
                            User.all(:order => :first_name),
                            :id,
                            :fullname_with_email,
                            {:prompt => false} %>
  </p>
  <% end %>
  <p>
    <a href='#' onClick='javascript:fill_information(); return false;'>Use My Information</a>
  </p>
  <p>
    <%= f.label :first_name, 'First Name' %><br />
    <%= f.text_field :first_name, {:id => "first_name"} %>
  </p>
  <p>
    <%= f.label :last_name, 'Last Name' %><br />
    <%= f.text_field :last_name, {:id => "last_name"} %>
  </p>
  <p>
    <%= f.label :phone, 'Phone # (preferably mobile)' %><br />
    <label>(xxx-xxx-xxxx)</label><br/>
    <%= f.text_field :phone, {:id => "phone"} %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email, {:id => "email"} %>
  </p>
  <p>
    <%= f.label :district, 'District / Region' %><br/>
    <%= f.collection_select :district_id,
                            @districts,
                            :id,
                            :display_with_region,
                            {:prompt => '- Select -'},
                            {:id => 'district'} %>
  </p>

  <div id='equipment_list'>
      <h3>Equipment</h3>
      <p>
        Register equipment by clicking the links below. Then answer any questions
        for each piece of equipment. Click again to add multiple items of the same kind.
      </p>
      <p id='equipment_selectors'>
        &nbsp;&nbsp;&nbsp;<%= add_link(f,'laptop','Laptop') %>
        &nbsp;&nbsp;&nbsp;<%= add_link(f,'interface_boxes','Interface Boxes') %>
        &nbsp;&nbsp;&nbsp;<%= add_link(f,'pads','Pads') %>
        &nbsp;&nbsp;&nbsp;<%= add_link(f,'monitor','Monitor') %>
        &nbsp;&nbsp;&nbsp;<%= add_link(f,'projector','Projector') %>
        &nbsp;&nbsp;&nbsp;<%= add_link(f,'power_strip','Power Strip') %>
        &nbsp;&nbsp;&nbsp;<%= add_link(f,'extension_cord','Extension Cord') %>
        &nbsp;&nbsp;&nbsp;<%= add_link(f,'recorder','Microphone/Recorder') %>
        &nbsp;&nbsp;&nbsp;<%= add_link(f,'other','Other') %>
      </p>
      <% @equipment_registration.equipment.each do |item| %>
        <% if !item.first? %>
          <% f.fields_for :equipment, item do |equipment_form| %>
            <%= render(:partial => item.equipment_type, :locals => { :form => equipment_form }) %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <p>
    <%= f.submit 'Submit Registration',
                 :id => 'submit_registration',
                 :onclick => "$('spinner').show(); $('submit_registration').disabled = true; $('submit_registration').value = 'Submitting Equipment Registration...'; submit(); return false;",
                 :autocomplete => 'off' %>
    <span id='spinner' style='display:none;'>
      &nbsp;&nbsp;<img style='vertical-align: middle;' src='/images/spinner_white.gif'/>
    </span>
  </p>
<% end %>
<script>
	var user_first_name = '<%= current_user.first_name %>';
	var user_last_name = '<%= current_user.last_name %>';
	var user_phone = '<%= current_user.phone %>';
	var user_email = '<%= current_user.email %>';
  var user_district = '<%= current_user.district_id %>';
</script>
