<% content_for :admin do %>
  <p>
    <%= link_to 'Download Participant Registrations', reports_path %>
  </p>
<% end %>

<div id='page_title'>
  <%= title('Participant Registrations', :h1) %>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Imported On</th>
    <th>Status</th>
    <th>Amount Ordered</th>
    <th>Amount Paid</th>
    <th>Amount Due</th>
    <th colspan='2'>Actions</th>
  </tr>
  <% @participant_registrations.each do |participant_registration| %>
    <tr>
      <td><%= participant_registration.full_name %></td>
      <td><%= participant_registration.created_at.strftime("%m/%d/%Y at %I:%M %p") %></td>
      <td><%= participant_registration.complete? ? "Complete" : "Incomplete" %></td>
      <td>$<%= participant_registration.amount_ordered %>.00</td>
      <td>$<%= participant_registration.amount_paid %>.00</td>
      <td>$<%= participant_registration.amount_due %>.00</td>
      <td><%= link_to 'Make Changes', edit_participant_registration_path(participant_registration) %></td>
    </tr>
  <% end %>
</table>