<% content_for :admin do %>
  <h4>Actions</h4>
  <ul>
    <li><%= link_to 'Download Participant Registrations', reports_path %></li>
    <li><%= link_to 'Download Quizmachine File', :controller => 'reports', :action => 'quizmachine_2017', :event_id => @selected_event %></li>
  </ul>
<% end %>

<div id='page_title'>
  <%= title('Participant Registrations', :h1) %>
</div>

<p>
  Selected Event: <%= select_tag 'event_select', options_from_collection_for_select(@events, "id", "name", @selected_event.to_i) %>
</p>

<div class="table-responsive"> 
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Field / District</th>
        <th>Payment</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @participant_registrations.each do |participant_registration| %>
        <tr>
          <td><%= participant_registration.full_name %></td>
          <td><%= participant_registration.registration_type.capitalize %></td>
          <td><%= participant_registration.district.region.name unless participant_registration.district.nil? %> / <%= participant_registration.district.name unless participant_registration.district.nil? %></td>
          <td><%= participant_registration.paid? ? '<span class="label label-success">Paid</span>' : '<span class="label label-default">Pending</span>' %></td>
          <td><%= link_to 'Make Changes', edit_participant_registration_path(participant_registration) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>