<% content_for :admin do %>
  <h4>Actions</h4>
  <ul>
    <li><%= link_to 'Download Participant Registrations', reports_path %></li>
    <li><%= link_to 'Auto Match Group Leaders', :controller => 'participant_registrations', :action => 'match_group_leaders', :event_id => @selected_event %></li>
  </ul>
<% end %>

<div id='page_title'>
  <%= title('Participant Registrations', :h1) %>
</div>

<p>
  Selected Event: <%= select_tag 'event_select', options_from_collection_for_select(@events, "id", "name", @selected_event.to_i) %>
</p>

<h4 style='margin-top: 20px;'>Filters</h4>
<table class='filters'>
  <tr>
    <td>
      Filter By Payment Status:
    </td>
    <td>
      <%= select_tag :filter_paid, (session[:paid].blank? ? '<option>- Select -</option>' : '') + options_for_select({'Paid' => '1','Unpaid' => '0'}, session[:paid]), :onchange => "document.location='/participant_registrations/filter/?paid=' + this.value;" %>
      <% unless session[:paid].blank? %>
        <a href='/participant_registrations/filter/?paid=none'>Remove</a>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      Filter By Group Leader:
    </td>
    <td>
      <%= select_tag :filter_paid, (session[:group_leader].blank? ? '<option>- Select -</option>' : '') + options_for_select({'Defined' => 'defined','Undefined' => 'undefined'}, session[:group_leader]), :onchange => "document.location='/participant_registrations/filter/?group_leader=' + this.value;" %>
      <% unless session[:group_leader].blank? %>
        <a href='/participant_registrations/filter/?group_leader=none'>Remove</a>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <% if @filter_applied %>
        <a href='/participant_registrations/filter/?clear=true'>Clear All Filters</a>
      <% end %>
    </td>
  </tr>
</table>
<br/>
<div class="table-responsive"> 
  <table class="table table-striped">
    <thead>
      <tr>
        <td style='border: 0;' colspan='5'><%= "#{@participant_registrations.size} participant registration(s) found" %></td>
      </tr>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Field / District</th>
        <th>Group Leader</th>
        <th>Payment</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @participant_registrations.each do |participant_registration| %>
        <tr>
          <td><%= participant_registration.full_name %></td>
          <td><%= participant_registration.registration_type.capitalize %></td>
          <td><%= participant_registration.district.region.name unless participant_registration.district.nil? %> / <%= participant_registration.district.name unless participant_registration.district.nil? %></td>
          <td><%= participant_registration.group_leader_name %></td>
          <td><%= participant_registration.paid? ? '<span class="label label-success">Paid</span>' : '<span class="label label-default">Pending</span>' %></td>
          <td><%= link_to 'Make Changes', edit_participant_registration_path(participant_registration) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>