<% content_for :paperwork_admin do %>
<p>
  Search for a participant:
  <% form_tag request.path, :method => 'get' do %>
    <%= text_field_tag :q, params[:q], :size => 25 %>
  <% end %>
</p>
<% end %>

<div id='page_title'>
  <%= title('Edit Participant Paperwork', :h1) %>
</div>
<% form_tag '/participant_registrations/save_paperwork' do %>
  <table class='filters'>
    <tr>
      <td>
        Filter By Status:
      </td>
      <td>
        <%= select_tag :filter_status,
                       (session[:status].blank? ? '<option>- Select -</option>' : '') + options_for_select({'Medical / Liability On File' => 'medical_liability_complete',
                                                                                                            'Medical / Liability Not On File' => 'medical_liability_incomplete'}.sort,
                                                                                                           session[:status]),
                                                                                                           :onchange => "document.location='/participant_registrations/filter_paperwork/?status=' + this.value;" %>
        <% unless session[:status].blank? %>
          <a href='/participant_registrations/filter_paperwork/?status=none'>Remove</a>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Filter By Registration Type:
      </td>
      <td>
        <%= select_tag :filter_type,
                       (session[:registration_type].blank? ? '<option>- Select -</option>' : '') +
                        options_for_select({
                          'Quizzer' => 'quizzer',
                          'Coach' => 'coach',
                          'Official / Volunteer' => 'official',
                          'Off-Campus Guest' => 'off-campus',
                          'Staff / Intern' => 'staff',
                          'Spectator' => 'spectator'},
                          session[:registration_type]),
                        :onchange => "document.location='/participant_registrations/filter_paperwork/?registration_type=' + this.value;" %>
        <% unless session[:registration_type].blank? %>
          <a href='/participant_registrations/filter_paperwork/?registration_type=none'>Remove</a>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Filter By Group Leader:
      </td>
      <td>
        <%= select_tag :filter_group_leader, (session[:group_leader].blank? ? '<option>- Select -</option>' : '') + options_for_select(@group_leaders, session[:group_leader].to_i), :onchange => "document.location='/participant_registrations/filter_paperwork/?group_leader=' + this.value;" %>
        <% unless session[:group_leader].blank? %>
          <a href='/participant_registrations/filter_paperwork/?group_leader=none'>Remove</a>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Filter By District:
      </td>
      <td>
        <%= select_tag :filter_district, (session[:district_id].blank? ? '<option>- Select -</option>' : '') + options_for_select(@districts.collect {|d| [ d[:name], d[:id] ] }, session[:district_id].to_i), :onchange => "document.location='/participant_registrations/filter_paperwork/?district_id=' + this.value;" %>
        <% unless session[:district_id].blank? %>
          <a href='/participant_registrations/filter_paperwork/?district_id=none'>Remove</a>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        Filter By Field:
      </td>
      <td>
        <%= select_tag :filter_region, (session[:region_id].blank? ? '<option>- Select -</option>' : '') + options_for_select(@regions.collect {|d| [ d[:name], d[:id] ] }, session[:region_id].to_i), :onchange => "document.location='/participant_registrations/filter_paperwork/?region_id=' + this.value;" %>
        <% unless session[:region_id].blank? %>
          <a href='/participant_registrations/filter_paperwork/?region_id=none'>Remove</a>
        <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <% if @filter_applied %>
          <a href='/participant_registrations/filter_paperwork/?clear=true'>Clear All Filters</a>
        <% end %>
      </td>
    </tr>
  </table>
  <br/>
  <% if @participant_registrations.size > 0 %>
    <div class="table-responsive"> 
      <table class="table table-striped">
        <thead>
          <tr>
            <td style='border: 0;'><%= @participant_registrations.size %> Participants Found</td>
            <td style='border: 0; text-align: right;' colspan='3'><%= submit_tag 'Save All Records', {:class => 'btn btn-primary'} %></td>
          </tr>
          <tr>
            <th>Participant</th>
            <th>Medical / Liability</th>
          </tr>
        </thead>
        <tbody>
          <% @participant_registrations.each do |participant_registration| %>
            <% fields_for "participant_registration[]", participant_registration do |pr_fields| %>
              <tr>
                <td width='400'>
                  <strong><%= participant_registration.full_name %></strong><br/>
                  <div style='font-size: 0.8em'>
                  <%= participant_registration.formatted_registration_type %><br/>
                  <%= participant_registration.district.display_with_region unless participant_registration.district.nil? %>
                  </div>
                </td>
                <td style='text-align: left'><%= pr_fields.check_box :medical_liability %></td>
              </tr>
            <% end %>
          <% end %>
          <tr>
            <td style='border: 0; text-align: right;' colspan='4'><%= submit_tag 'Save All Records', {:class => 'btn btn-primary'} %></td>
          </tr>
        </tbody>
      </table>
    </div>
  <% else %>
    No records match the specified query.
  <% end %>
<% end %>