<% form_for [@user, @participant_registration] do |pform| %>
  <%= error_messages_for :participant_registration, :header_message => "There were errors with your registration.", :message => "We encountered the following problems:" %>

  <p>
    Please fill out the following form to register for <%= Event.active_event.title %>.
  </p>
  <p>
    <%= pform.label :registration_type, 'Registration Type' %><br/>
    <% if !@participant_registration.new_record? %>
    <%= pform.select :registration_type,
      {'Quizzer ($195)' => 'quizzer',
      'Coach ($195)' => 'coach',
      'Official / Volunteer ($150)' => 'official',
      'Staff / Intern ($0)' => 'staff',
      'Off-Campus Guest ($0)' => 'off-campus',
      'Inactive' => 'inactive',
      'Spectator' => 'spectator'},
      {:prompt => "- Select -"}, {:onChange => "check_for_registration_type();"} %>
    <% else %>
    <%= pform.select :registration_type,
      {'Off-Campus Guest ($0)' => 'off-campus'},
      {:prompt => "- Select -"}, {:onChange => "check_for_registration_type();"} %>
    <% end %>
  </p>
  <div id='registration_info'></div>
  <h3>Basics</h3>
  <p>
    Please provide us some basic information about yourself.
  </p>
  <p>
    <a href='#' onClick='javascript:fill_information(); return false;'>Use My Information</a>
  </p>
  <div style='float: left;'>
    <%= pform.label :first_name, 'First Name' %><br/>
    <%= pform.text_field :first_name, {:id => 'first_name', :size => 20} %>
    &nbsp;
  </div>
  <div style='float: left;'>
    <%= pform.label :last_name, 'Last Name' %><br/>
    <%= pform.text_field :last_name, {:id => 'last_name', :size => 20} %>
  </div>
  <div style='clear: left; padding-top: 10px;'>
    <%= pform.label :email %><br />
    <%= pform.text_field :email, {:id => 'email', :size => 35} %>
  </div>
  <p id='gender_row' style='display:none;'>
    <%= pform.label :gender, 'Gender' %><br/>
    <%= pform.select :gender, ['Male','Female'], :prompt => '- Select -' %>
  </p>
  <p id='over18_row' style='display:none;'>
    <%= pform.label :over_18, 'Are you 18 years of age or older?' %><br/>
    <%= pform.select :over_18, {'Yes' => true,'No' => false}, :prompt => '- Select -' %>
  </p>
  <p id='most_recent_grade_row' style='display:none;'>
    <%= pform.label :most_recent_grade, 'Grade most recently completed in the summer of 2018?' %><br/>
    <%= pform.select :most_recent_grade, ['Below 6th grade','6th grade','7th grade','8th grade','9th grade','10th grade','11th grade','12th grade'], {:prompt => "- Select -"} %>
  </p>
  <p id='graduation_year_row' style='display:none;'>
    <%= pform.label :graduation_year, 'What is your graduation year?' %><br/>
    <%= pform.select :graduation_year, ['2018','2019','2020','2021','2022','2023','2024','After 2024'], {:prompt => "- Select -"} %>
  </p>
  <h3>Contact Information</h3>
  <p id='street_row' style='display:none;'>
    <%= pform.label :street, 'Address' %><br/>
    <%= pform.text_field :street %>
  </p>
  <p id='city_row' style='display:none;'>
    <%= pform.label :city, 'City' %><br/>
    <%= pform.text_field :city %>
  </p>
  <p id='state_row' style='display:none;'>
    <%= pform.label :state, 'State / Province' %><br/>
    <%= pform.select :state, ['AB','AK','AL','AR','AS','AZ','BC','CA','CO','CT','DC','DE','FL','FM','GA','GU','HI','IA','ID','IL','IN','KS','KY','LA','MA','MB','MD','ME','MH','MI','MN','MO','MP','MS','MT','NB','NC','ND','NE','NH','NJ','NL','NM','NS','NT','NU','NV','NY','OH','OK','ON','OR','PA','PE','PR','PW','QC','RI','SC','SD','SK','TN','TX','UT','VA','VI','VT','WA','WI','WV','WY','YT','Non USA/Canada'], :prompt => "- Select -" %>
  </p>
  <p id='zipcode_row' style='display:none;'>
    <%= pform.label :zipcode, 'Zipcode / Postal Code' %><br/>
    <%= pform.text_field :zipcode %>
  </p>
  <p id='country_row' style='display:none;'>
    <%= pform.label :country, 'Country' %><br/>
    <%= pform.country_select(:country, ['United States','Canada','Mexico'], {}) %>
  </p>
  <p>
    <%= pform.label :home_phone, 'Primary Phone (xxx-xxx-xxxx)' %><br/>
    <%= pform.text_field :home_phone %>
  </p>
  <div id='emergency_contact_details' style='display:none;'>
    <h3>Emergency Contact Information</h3>
    <p>Please provide emergency contact information.</p>
    <div class='row form_row'>
      <div class="col-md-4">
        <%= pform.label :emergency_contact_name, 'Full Name' %><br/>
        <%= pform.text_field :emergency_contact_name %>
      </div>
      <div class="col-md-4">
        <%= pform.label :emergency_contact_number, 'Phone Number' %><br/>
        <%= pform.text_field :emergency_contact_number %>
      </div>
      <div class="col-md-4">
        <%= pform.label :emergency_contact_relationship, 'Relationship' %><br/>
        <%= pform.text_field :emergency_contact_relationship %>
      </div>
    </div>
  </div>
  <div id='housing_details'>
    <h3>Roommate Preferences</h3>
    <p>
      <%= pform.label :roommate_preference_1, 'Roommate Preference - 1st Choice' %><br/>
      <%= pform.text_field :roommate_preference_1 %>
    </p>
    <p>
      <%= pform.label :roommate_preference_2, 'Roommate Preference - 2nd Choice' %><br/>
      <%= pform.text_field :roommate_preference_2 %>
    </p>
    <p>
      <%= pform.label :roommate_notes, 'Any Additional Roommate Notes' %><br/>
      <%= pform.text_area :roommate_notes, :size => "50x6" %>
    </p>
  </div>
    <h3>Other Information</h3>
  <p id='local_church_row' style='display:none;'>
    <%= pform.label :local_church, 'Your Local Church' %><br/>
    <%= pform.text_field :local_church %>
  </p>
  <p>
    <%= pform.label :district, 'Your District and Field' %><br/>
    <%= pform.collection_select :district_id,
      @districts,
      :id,
      :display_with_region,
      {:prompt => '- Select -'},
      {:id => 'district'} %>
  </p>
  <p id='group_leader_text_row'>
    <%= pform.label :group_leader_text, 'Your Group Leader' %><br/>
    <%= pform.text_field :group_leader_text %>
  </p>
  <p id='group_leader_email_row'>
    <%= pform.label :group_leader_email, 'Group Leader Email (If Known)' %><br/>
    <%= pform.text_field :group_leader_email %>
  </p>
  <% if !@participant_registration.new_record? && admin? %>
  <p id='group_leader_row'>
    <%= pform.label :group_leader, 'Assigned Group Leader' %><br/>
    <select id="participant_registration_group_leader" name="participant_registration[group_leader]">
      <%= options_for_select(@group_leaders, @participant_registration.group_leader.to_i) %>
    </select>
  </p>
  <% end %>
  <p id='coach_name_row' style='display:none;'>
    <%= pform.label :coach_name, 'Your Coach' %><br/>
    <%= pform.text_field :coach_name %>
  </p>
  <p id='planning_on_coaching_row' style='display:none;'>
    <%= pform.label :planning_on_coaching, 'Are you planning on coaching a team?' %><br/>
    <%= pform.select :planning_on_coaching, {'Yes' => true,'No' => false}, :prompt => '- Select -' %>
  </p>
  <p id='planning_on_officiating_row' style='display:none;'>
    <%= pform.label :planning_on_officiating, 'Are you planning to be an official?' %><br/>
    <%= pform.select :planning_on_officiating, {'Yes' => true,'No' => false}, :prompt => '- Select -' %>
  </p>
  <p id='shirt_size_row' style='display:none;'>
    <%= pform.label :shirt_size, 'T-shirt Size' %><br/>
    <%= pform.select :shirt_size, ['X-Small','Small','Medium','Large','X-Large','2X-Large','3X-Large','4X-Large'], :prompt => "- Select -" %>
  </p>
  <p id='special_needs_row' style='display:none;'>
    <label>Do you have any special needs that the staff should be aware of?</label><br/>
    <%= pform.check_box :special_needs_food_allergies, {:onChange => 'check_special_needs()'} %>&nbsp;&nbsp;<%= pform.label :special_needs_food_allergies, 'Food Allergies' %><br/>
    <%= pform.check_box :special_needs_handicap_accessible, {:onChange => 'check_special_needs()'} %>&nbsp;&nbsp;<%= pform.label :special_needs_handicap_accessible, 'Handicap Accessible' %><br/>
    <%= pform.check_box :special_needs_hearing_impaired, {:onChange => 'check_special_needs()'} %>&nbsp;&nbsp;<%= pform.label :special_needs_hearing_impaired, 'Hearing Impaired' %><br/>
    <%= pform.check_box :special_needs_vision_impaired, {:onChange => 'check_special_needs()'} %>&nbsp;&nbsp;<%= pform.label :special_needs_vision_impaired, 'Vision Impaired' %><br/>
    <%= pform.check_box :special_needs_other, {:onChange => 'check_special_needs()'} %>&nbsp;&nbsp;<%= pform.label :special_needs_other, 'Other' %><br/>
    <%= pform.check_box :special_needs_na, {:onChange => 'check_special_needs()'} %>&nbsp;&nbsp;<%= pform.label :special_needs_na, 'N/A' %><br/>
  </p>
  <p id='special_needs_details_row' style='display:none;'>
    <%= pform.label :special_needs_details, 'Please provide us further details regarding your special needs. Please be detailed so that we can ensure your participation is enjoyable.' %><br/>
    <%= pform.text_area :special_needs_details, :size => "60x6" %>
  </p>
  <p id='travel_type_row' style='display:none;'>
    <%= pform.label :travel_type, 'How do you plan to travel to Q2018?' %><br/>
    <%= pform.select :travel_type, ['I do not yet know how I am getting to the event.','I am flying to the event.','I am driving to the event.'], {:prompt => "- Select -"}, {:onChange => "check_travel_details()"} %>
  </p>
  <p id='travel_type_details_row' style='display:none;'>
    <%= pform.label :travel_type_details, 'Please provide us your flight information including airline(s), flight number(s), and arrival and departure times.' %><br/>
    <%= pform.text_area :travel_type_details, :size => "60x6" %>
  </p>
  <% if Event.active_event.allow_optional_purchases? %>
  <h3>Optional Purchases</h3>
  <p>
    Please check any optional purchases you'd like to make. These will be added to your total.
  </p>
  <div id='optional_purchases_row'>
    <div id='optional_purchases_meals_row' style='display:none;'>
      <%= hidden_field_tag "participant_registration[registration_option_ids][]", nil %>
      <h4>Meals</h4>
      <p>
        <% @registration_options_meals.each do |registration_option| -%>
          <%= check_box_tag "participant_registration[registration_option_ids][]", registration_option.id, @participant_registration.registration_options.include?(registration_option), {:id => "option_" + registration_option.id.to_s, :onChange => "update_fee()"} -%> 
          <input type="hidden" id="option_price_<%= registration_option.id %>" value="<%= registration_option.price %>">
          <span id='option_label_<%=h registration_option.id -%>'><%=h registration_option.item -%> ($<%=h registration_option.price %>)</span><br/>
        <% end -%>
      </p>
    </div>
  </div>
  <% end %>
  <div id='releases_row'>
    <h3>Releases</h3>
    <%= pform.check_box :understand_form_completion %>&nbsp;&nbsp;<label>I understand that I will be required to fill out a medical liability form.</label> (<a target="_blank" href="/files/Adult Medical and Liability Release.pdf">Download Adult</a> :: <a target="_blank" href="/files/Student Medical and Liability Release.pdf">Download Student</a>)<br/>
    <%= pform.check_box :understand_background_check %>&nbsp;&nbsp;<label>I understand that I will be required to complete a background check form.</label>
  </div>
  <% if !@participant_registration.new_record? && admin? %>
  <div id='payment_info_row'>
    <h3>Payment Information</h3>
    <% if !@participant_registration.amount_ordered.nil? and @participant_registration.amount_ordered > 0 %>
      <% if @participant_registration.paid? %>
        <label>Paid Amount:&nbsp;</label>$<%= @participant_registration.amount_ordered %><br/>
      <% else %>
        <label>Amount Due:&nbsp;</label>$<%= @participant_registration.amount_ordered %><br/>
      <% end %>
      <%= pform.check_box :paid %>&nbsp;&nbsp;<label>Paid?</label>
    <% else %>
      Payment was not required.
    <% end %>
  </div>
  <% end %>
  <% if !@participant_registration.new_record? && admin? %>
  <p id='notes_row'>
    <%= pform.label :notes, 'Notes' %><br/>
    <%= pform.text_area :notes, :size => "60x6" %>
  </p>
  <% end %>
  <% if @participant_registration.new_record? %>
  <p id="fees_row" style="display:none;" class="alert alert-info">
    In order to complete your registration you will need to submit payment of $<span id="fee_display"></span>. <span id="fee_text"></span>
  </p>
  <% end %>
  <p id='submit_registration'>
    <% if @pay_by_check %>
      <input type='hidden' id='pay_by_check' name='pay_by_check' value='true'>
    <% end %>
    <input type='hidden' id='registration_fee' name='registration_fee'>
    <% if admin? and !@participant_registration.new_record? %>
      <%= pform.submit 'Edit Registration', :class => 'btn btn-primary' %>
      &nbsp;
      <%= link_to 'Delete Registration', @participant_registration, :confirm => 'Are you sure you want to delete this participant registration? This cannot be undone.', :method => :delete, :class => 'btn btn-primary' %>
    <% else %>
      <%= pform.submit 'Submit Registration', :class => 'btn btn-primary' %>
    <% end %>
  </p>
<% end %>
<script type='text/javascript'>
  var user_first_name = '<%= current_user.first_name %>';
  var user_last_name = '<%= current_user.last_name %>';
  var user_phone = '<%= current_user.phone %>';
  var user_email = '<%= current_user.email %>';
  var user_district = '<%= current_user.district_id %>';

  /* fees */
  var fees = {'quizzer': 195, 'coach': 195, 'official': 150, 'staff': 0, 'off-campus': 0}

  function update_fee() {
    $('#fees_row').hide()
    if ($('#participant_registration_registration_type').val() != "") {
      var fee = fees[$('#participant_registration_registration_type').val()]
      fee += get_optional_purchases()
      if (fee < 0) {
        fee = 0
      }
      $('#registration_fee').val(fee)
      if (fee > 0) {
        $('#fee_display').html(fee)
        if ($('#pay_by_check').val() == 'true') {
          $('#fee_text').html('Please send your payment to NYI via check in order to complete your registration.')
        } else {
          $('#fee_text').html('You will be redirected to a third party site to submit your credit card payment.')
        }
        $('#fees_row').show()
      }
    }
  }

  function get_optional_purchases() {
    var options = $('#optional_purchases_row input:checkbox:checked')
    var total = 0
    $.each(options, function (i,checkbox) {
      var index = $(checkbox).val().split(/_/).pop()
      var price = $('#option_price_' + index).val()
      total += parseInt(price)
    })
    return total
  }

  function check_for_registration_type() {
    $('#gender_row').hide()
    $('#most_recent_grade_row').hide()
    $('#graduation_year_row').hide()
    $('#street_row').hide()
    $('#city_row').hide()
    $('#state_row').hide()
    $('#zipcode_row').hide()
    $('#country_row').hide()
    $('#emergency_contact_details').hide()
    $('#housing_details').hide()
    $('#local_church_row').hide()
    $('#coach_name_row').hide()
    $('#planning_on_coaching_row').hide()
    $('#planning_on_officiating_row').hide()
    $('#shirt_size_row').hide()
    $('#special_needs_row').hide()
    $('#travel_type_row').hide()
    $('#optional_purchases_meals_row').hide()
    $('#option_21').hide()
    $('#option_label_21').hide()
    $('#releases_row').hide()
    if ($('#participant_registration_registration_type').val() != "off-campus") {
      $('#gender_row').show()
      $('#street_row').show()
      $('#city_row').show()
      $('#state_row').show()
      $('#zipcode_row').show()
      $('#country_row').show()
      $('#emergency_contact_details').show()
      $('#housing_details').show()
      $('#local_church_row').show()
      $('#shirt_size_row').show()
      $('#special_needs_row').show()
      $('#travel_type_row').show()
      $('#option_21').show()
      $('#option_label_21').show()
      $('#releases_row').show()
    }
    if ($('#participant_registration_registration_type').val() == "quizzer") {
      $('#most_recent_grade_row').show()
      $('#graduation_year_row').show()
      $('#coach_name_row').show()
    }
    if ($('#participant_registration_registration_type').val() == "official") {
      $('#planning_on_coaching_row').show()
    }
    if ($('#participant_registration_registration_type').val() == "coach") {
      $('#planning_on_officiating_row').show()
      $('#over18_row').show()
    }
    if ($('#participant_registration_registration_type').val() == "off-campus") {
      $('#optional_purchases_meals_row').show()
      $('#option_21').prop('checked', false);
    }
    update_fee()
  }

  function check_special_needs() {
    $('#special_needs_details_row').hide()
    if ($('#participant_registration_special_needs_food_allergies').is(':checked') == true ||
        $('#participant_registration_special_needs_handicap_accessible').is(':checked') == true ||
        $('#participant_registration_special_needs_hearing_impaired').is(':checked') == true ||
        $('#participant_registration_special_needs_vision_impaired').is(':checked') == true ||
        $('#participant_registration_special_needs_other').is(':checked') == true) {
      $('#special_needs_details_row').show()
    }
  }

  function check_travel_details() {
    $('#travel_type_details_row').hide()
    if ($('#participant_registration_travel_type').val() == "I am flying to the event.") {
      $('#travel_type_details_row').show()
    }
  }
</script>

<% content_for :javascript do %>
  <script>
    /* run through all checks on first load */
    $( document ).ready(function() {
      check_for_registration_type()
      check_special_needs()
      check_travel_details()
    })
  </script>
<% end %>