<% form_for [@user, @participant_registration] do |pform| %>
  <%= error_messages_for :participant_registration, :header_message => "There were errors with your registration.", :message => "We encountered the following problems:" %>

  <%= render :partial => 'pages/page', :locals => { :page => @page } if !@page.nil? %>
  <p>
    <%= pform.label :registration_type, 'Registration Type' %><br/>
    <%= @participant_registration.registration_type %>
  </p>
  <h3>Basics</h3>
  <p>
    Basic information about participant.
  </p>
  <div style='float: left; width: 100px;'>
    <%= pform.label :first_name, 'First Name' %><br/>
    <%= @participant_registration.first_name %>
    &nbsp;
  </div>
  <div style='float: left;'>
    <%= pform.label :last_name, 'Last Name' %><br/>
    <%= @participant_registration.last_name %>
  </div>
  <div style='clear: left; padding-top: 10px;'>
    <%= pform.label :email %><br />
    <%= @participant_registration.email %>
  </div>
  <p>
    <%= pform.label :gender, 'Gender' %><br/>
    <%= @participant_registration.gender %>
  </p>
  <p>
    <%= pform.label :most_recent_grade, 'Age Group or grade most recently completed in school' %><br/>
    <%= @participant_registration.most_recent_grade %>
  </p>
  <p id='guardian_field' style='display:none;'>
    <%= pform.label :guardian, 'Child\'s Guardian' %><br/>
    <%= pform.text_field :guardian, {:size => 20} %>
  </p>
  <h3>Contact Information</h3>
  <p>
    <%= pform.label :street, 'Address' %><br/>
    <%= @participant_registration.street %>
  </p>
  <p>
    <%= pform.label :city, 'City' %><br/>
    <%= @participant_registration.city %>
  </p>
  <p>
    <%= pform.label :state, 'State / Province' %><br/>
    <%= @participant_registration.state %>
  </p>
  <p>
    <%= pform.label :zipcode, 'Zipcode / Postal Code' %><br/>
    <%= @participant_registration.zipcode %>
  </p>
  <p>
    <%= pform.label :country, 'Country' %><br/>
    <%= @participant_registration.country %>
  </p>
  <p>
    <%= pform.label :mobile_phone, 'Mobile Phone (xxx-xxx-xxxx)' %><br/>
    <%= @participant_registration.mobile_phone %>
  </p>
  <div id='housing_details'>
    <h3>Housing Information</h3>
    <p>Roommate Preferences</p>
    <p>
      <%= pform.label :roommate_preference_1, 'Roommate Preference Name - 1st Choice' %><br/>
      <%= @participant_registration.roommate_preference_1 %>
    </p>
    <p>
      <%= pform.label :roommate_preference_2, 'Roommate Preference Name - 2nd Choice' %><br/>
      <%= @participant_registration.roommate_preference_2 %>
    </p>
    <p>Extra Days</p>
    <p>
      <%= pform.check_box :housing_sunday, {:disabled => 'disabled'} %>
      <%= pform.label :housing_sunday, 'Needs housing Sunday.' %><br/>
      <%= pform.check_box :housing_saturday, {:disabled => 'disabled'} %>
      <%= pform.label :housing_saturday, 'Needs housing Saturday.' %>
    </p>
  </div>
  <h3>Additional Information</h3>
  <p>
    <%= pform.label :group_leader, 'Group Leader' %><br/>
    <select id="participant_registration_group_leader" name="participant_registration[group_leader]">
      <%= options_for_select(@group_leaders, @participant_registration.group_leader.to_i) %>
    </select>
  </p>
  <p>
    <label>Group Leader From CVent</label><br/>
    <%= @participant_registration.group_leader_import %>
  </p>
  <p>
    <%= pform.label :local_church, 'Local Church' %><br/>
    <% if !@participant_registration.local_church.nil? %>
      <%= @participant_registration.local_church %>
    <% else %>
      N/A
    <% end %>
  </p>
  <p>
    <%= pform.label :district, 'District and Region' %><br/>
    <% if !@participant_registration.district.nil? and !@participant_registration.district.region.nil? %>
      <%= @participant_registration.district.name %>, <%= @participant_registration.district.region.name %>
    <% else %>
      N/A
    <% end %>
  </p>
  <p>
    <%= pform.label :shirt_size, 'T-shirt Size' %><br/>
    <%= @participant_registration.shirt_size %>
  </p>
  <p>
    <%= pform.label :special_needs, 'Does the participant have any special needs?' %><br/>
    <%= @participant_registration.special_needs %>
  </p>
  <% if @participant_registration.special_needs != 'N/A' and !@participant_registration.special_needs.nil? %>
  <p>
    <%= pform.label :special_needs_details, 'Special Needs Details' %><br/>
    <%= @participant_registration.special_needs_details %>
  </p>
  <% end %>
  <div id='team_selection'>
    <h3>Team(s)</h3>
    <% @participant_registration.teams.each do |team| %>
    <p>
      <%= team.name_with_division %>
    </p>
    <% end %>
  </div>
  <h3>Travel Information</h3>
  <p>
    <%= @participant_registration.travel_type %>
  </p>
  <div id='travel_details'>
    <% if @participant_registration.travel_type == "I am flying to the event." %>
    <div id='flying_details'>
      <p>
        Flight Information
      </p>
      <h4 style='margin-bottom: 5px;'>Arrival Information</h4>
      <div style='float:left'>
        <%= pform.label :arrival_airline, 'Airline' %><br/>
        <%= @participant_registration.arrival_airline %>
        &nbsp;
      </div>
      <div style='float:left'>
        <%= pform.label :arrival_flight_number, 'Flight Number' %><br/>
        <%= @participant_registration.arrival_flight_number %>
        &nbsp;
      </div>
      <div style='float:left'>
        <%= pform.label :airline_arrival_date, 'Date (MM/DD)' %><br/>
        <%= @participant_registration.airline_arrival_date %>
        &nbsp;
      </div>
      <div style='float:left'>
        <%= pform.label :airline_arrival_time, 'Time (HH:MM AM/PM)' %><br/>
        <%= @participant_registration.airline_arrival_time %>
        &nbsp;
      </div>
      <div style='clear: left; padding-top: 5px;'>
        <%= pform.check_box :need_arrival_shuttle, {:disabled => 'disabled' } %>
        <%= pform.label :need_arrival_shuttle, 'Needs a shuttle from the airport when they arrive.' %>
      </div>
      <h4 style='margin-bottom: 5px;'>Departure Information</h4>
      <div style='float:left'>
        <%= pform.label :departure_airline, 'Airline' %><br/>
        <%= @participant_registration.departure_airline %>
        &nbsp;
      </div>
      <div style='float:left'>
        <%= pform.label :departure_flight_number, 'Flight Number' %><br/>
        <%= @participant_registration.departure_flight_number %>
        &nbsp;
      </div>
      <div style='float:left'>
        <%= pform.label :airline_departure_date, 'Date (MM/DD)' %><br/>
        <%= @participant_registration.airline_departure_date %>
        &nbsp;
      </div>
      <div style='float:left'>
        <%= pform.label :airline_departure_time, 'Time (HH:MM AM/PM)' %><br/>
        <%= @participant_registration.airline_departure_time %>
        &nbsp;
      </div>
      <div style='clear: left; padding-top: 5px;'>
        <%= pform.check_box :need_departure_shuttle, {:disabled => 'disabled'} %>
        <%= pform.label :need_departure_shuttle, 'Needs a shuttle to the airport when they leave.' %>
      </div>
    </div>
    <% end %>
    <% if @participant_registration.travel_type == "I am driving to the event." %>
    <div id='driving_details'>
      <h4 style='margin-bottom: 5px;'>Arrival Information</h4>
      <div style='float:left'>
        <%= pform.label :driving_arrival_date, 'Date and Time' %><br/>
        <%= @participant_registration.driving_arrival_date %>
        &nbsp;
      </div>
      <div style='clear: left;'></div>
    </div>
    <% end %>
  </div>
  <p id='update_registration'>
    <%= pform.submit 'Update Registration' %>
  </p>
  </div>
<% end %>
