<% form_for [@user, @participant_registration] do |pform| %>
  <%= error_messages_for :participant_registration, :header_message => "There were errors with your registration.", :message => "We encountered the following problems:" %>

  <%= render :partial => 'pages/page', :locals => { :page => @page } if !@page.nil? %>
  <%= pform.hidden_field :registration_type, :value => 'quizzer' %>
  <div id='registration_info'></div>
  <p>
    Please provide us some basic information about yourself to register.
  </p>
  <p>
    <a href='#' onClick='javascript:fill_information(); return false;'>Use My Information</a>
  </p>
  <div style='float: left;'>
    <%= pform.label :first_name, 'First Name' %><br/>
    <%= pform.text_field :first_name, {:id => 'first_name', :size => 20} %>
    &nbsp;
  </div>
  <div style='float: left;'>
    <%= pform.label :last_name, 'Last Name' %><br/>
    <%= pform.text_field :last_name, {:id => 'last_name', :size => 20} %>
  </div>
  <div style='clear: left; padding-top: 10px;'>
    <%= pform.label :email %><br />
    <%= pform.text_field :email, {:id => 'email', :size => 35} %>
  </div>
  <div style='padding-top: 10px;'>
    <%= pform.label :mobile_phone, 'Phone (xxx-xxx-xxxx) - Must have this on file for emergency contact and/or other communication! (If you do not own a mobile phone please enter the phone # of someone else who is attending the event.)' %><br/>
    <%= pform.text_field :mobile_phone, {:id => 'phone'} %>
  </div>
  <div style='padding-top: 10px;'>
    <%= pform.label :district, 'Your District and Field' %><br/>
    <%= pform.collection_select :district_id,
      @districts,
      :id,
      :display_with_region,
      {:prompt => '- Select -'},
      {:id => 'district'} %>
  </div>
  <p id='submit_registration'>
    <%= pform.submit 'Submit Registration', :class => 'btn btn-primary' %>
    <% if !@participant_registration.new_record? && admin? %>
      &nbsp;
      <%= link_to 'Delete Registration', @participant_registration, :confirm => 'Are you sure you want to delete this participant registration?', :method => :delete, :class => 'btn btn-primary' %>
    <% end %>
  </p>
<% end %>
<script type='text/javascript'>
  var user_first_name = '<%= current_user.first_name %>';
  var user_last_name = '<%= current_user.last_name %>';
  var user_phone = '<%= current_user.phone %>';
  var user_email = '<%= current_user.email %>';
  var user_district = '<%= current_user.district_id %>';
</script>