<% content_for :admin do %>
  <p>Search for a user:</p>
  <% form_tag request.path, :method => 'get' do %>
    <%= text_field_tag :q, params[:q], :size => 30 %>
  <% end %>
<% end %>

<% if params[:q] %>
  <%= title("Users containing '#{params[:q]}'", :h1) %>
<% else %>
  <%= title('Users', :h1) %>
<% end %>

<div class="table-responsive"> 
  <table class="table table-striped">
    <thead>
      <tr>
        <td style='border: 0;'><%= "#{@users.total_entries} user(s) found" %></td>
        <td style='border: 0; text-align: right;' colspan='2'><%= pagination @users %></td>
      </tr>
      <tr>
        <th>Name / Email</th>
        <th>State</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%=h user.fullname %><br/><%=h user.email %></td>
          <td><%= user.state == 'active' ? '<span class="label label-success">' + user.state.capitalize + '</span>' : '<span class="label label-default">' + user.state.capitalize + '</span>' %></td>
          <td>
            <%= link_to 'Edit', edit_user_path(user) %> :: 
            <%= link_to 'Roles', user_event_roles_path(user) %> :: 
            <% if user.active? %>
              <%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %>
            <% else %>
              <%= link_to 'Activate', activate_user_user_path(user) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>