<div id='page_title'>
  <%= title("Editing #{@division.name}", :h1) %>
</div>

<% form_for(@division) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :code_required, 'Should a registration code be required?' %><br/>
    <%= f.select :code_required, {'Yes' => true,'No' => false}, :prompt => '- Select -' %>
  </p>
  <p>
    <%= f.submit 'Update', {:class => 'btn btn-primary'} %> or <%= link_to 'Cancel', divisions_path %>
  </p>
<% end %>