<% content_for :admin do %>
  <h4>Actions</h4>
  <ul>
    <li><%= link_to 'Add new divisions', new_division_path %></li>
  </ul>
<% end %>

<div id='page_title'>
  <%= title('Divisions', :h1) %>
</div>

<%= select_tag 'event_select', options_from_collection_for_select(@events, "id", "name", @selected_event.to_i) %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Division</th>
        <th>Price</th>
        <th>Code Required?</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @divisions.each do |division| %>
        <tr>
          <td><%= division.name %></td>
          <td><%= division.price %></td>
          <td><%= division.code_required? ? '<span class="label label-success">True</span>' : '<span class="label label-default">False</span>' %></td>
          <td>
            <%= link_to 'Edit', edit_division_path(division) %> :: 
            <%= link_to 'Delete', division, :confirm => 'Are you sure?', :method => :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>