<div id='page_title'>
  <%= title('Add New Divisions', :h1) %>
</div>

<p>
  Add new divisions below. Please follow the following format: name,price,code_required. Example:
  <pre>
  	District Experienced,100,true
	Local Experienced,125,false</pre>
  Note: Divisions with the same name will have their information updated. Excluding the code_required field assumes a code is not required.
</p>
<%= form_tag(divisions_path) %>
  <p>
    <label>Divisions</label><br />
    <%= text_area_tag :division_info, nil, :size => "60x15" %>
  </p>
  <p>
    <label>Event</label><br />
    <%= select_tag :event_id, options_from_collection_for_select(@events, "id", "name", @selected_event.to_i) %>
  </p>
  <p>
    <%= submit_tag 'Add Divisions', {:class => 'btn btn-primary'} %> or <%= link_to 'Cancel', divisions_path %>
  </p>
</p>