<div id='page_title'>
  <%= title('Equipment Registrations', :h1) %>
</div>

<p>
  Selected Event: <%= select_tag 'event_select', options_from_collection_for_select(@events, "id", "name", @selected_event.to_i) %>
</p>

<%= pluralize(@laptops.size, 'Total Laptop') + '<br/>' if @laptops.size > 0 %>
<%= pluralize(@interface_boxes.size, 'Total Interface Box') + '<br/>' if @interface_boxes.size > 0 %>
<%= pluralize(@pads.size, 'Total Pad Set') + '<br/>' if @pads.size > 0 %>
<%= pluralize(@monitors.size, 'Total Monitor') + '<br/>' if @monitors.size > 0 %>
<%= pluralize(@power_strips.size, 'Total Power Strip') + '<br/>' if @power_strips.size > 0 %>
<%= pluralize(@extension_cords.size, 'Total Extension Cord') + '<br/>' if @extension_cords.size > 0 %>
<br/>
<table>
  <tr>
    <th>Name</th>
    <th>District / Region</th>
    <th>Equipment</th>
  </tr>

<% @equipment_registrations.each do |equipment_registration| %>
  <tr>
    <td><%= equipment_registration.full_name %></td>
      <td>
        <%= equipment_registration.district.name unless equipment_registration.district.nil? %><br/>
        <%= equipment_registration.district.region.name unless equipment_registration.district.nil? %>
      </td>
      <td>
        <%= pluralize(equipment_registration.laptops.size, 'Laptop') + '<br/>' if equipment_registration.laptops.size > 0 %>
        <%= pluralize(equipment_registration.interface_boxes.size, 'Interface Box') + '<br/>' if equipment_registration.interface_boxes.size > 0 %>
        <%= pluralize(equipment_registration.pads.size, 'Pad Set') + '<br/>' if equipment_registration.pads.size > 0 %>
        <%= pluralize(equipment_registration.monitors.size, 'Monitor') + '<br/>' if equipment_registration.monitors.size > 0 %>
        <%= pluralize(equipment_registration.projectors.size, 'Projector') + '<br/>' if equipment_registration.projectors.size > 0 %>
        <%= pluralize(equipment_registration.power_strips.size, 'Power Strip') + '<br/>' if equipment_registration.power_strips.size > 0 %>
        <%= pluralize(equipment_registration.extension_cords.size, 'Extension Cord') + '<br/>' if equipment_registration.extension_cords.size > 0 %>
      </td>
  </tr>
<% end %>
</table>