<% form_for @event, :html => { :multipart => true } do |event_form| %>
  <% if @event.new_record? %>
    <%= error_messages_for :event, :header_message => "There were errors creating the event.", :message => "We encountered the following problems:" %>
  <% else %>
    <%= error_messages_for :event, :header_message => "There were errors updating this event.", :message => "We encountered the following problems:" %>
  <% end %>
  <p>
    <%= event_form.label :name, 'Name*' %><br />
    <%= event_form.text_field :name, :size => 50 %>
  </p>
  <p>
    <%= event_form.label :title, 'Title*' %><br />
    <%= event_form.text_field :title, :size => 50 %>
  </p>
  <p>
    <%= event_form.check_box :active, :size => 50 %>
    <%= event_form.label :active, 'Active? (Note: Only one event may be active at a time.)' %>
  </p>
  <p>
    <label>Enabled Registrations</label><br />
    <%= event_form.check_box :enable_participant_registration, :size => 50 %>
    <%= event_form.label :active, 'Participant' %>&nbsp;&nbsp;&nbsp;
    <%= event_form.check_box :enable_team_registration, :size => 50 %>
    <%= event_form.label :active, 'Team' %>&nbsp;&nbsp;&nbsp;
    <%= event_form.check_box :enable_equipment_registration, :size => 50 %>
    <%= event_form.label :active, 'Equipment' %>
  </p>
  <p>
    <%= event_form.check_box :use_short_registration, :size => 50 %>
    <%= event_form.label :use_short_registration, 'Use Short Participant Registration' %>
  </p>
  <p>
    <%= event_form.label :participant_registration_link, 'Participant Registration Link (if not on this site)' %><br />
    <%= event_form.text_field :participant_registration_link, :size => 50 %>
  </p>
  <p>
    <%= event_form.check_box :allow_optional_purchases, :size => 50 %>
    <%= event_form.label :active, 'Allow Optional Purchases' %>
  </p>
  <p>
    <%= event_form.label :team_code, 'Team Registration Code' %><br />
    <%= event_form.text_field :team_code, :size => 50 %>
  </p>
  <p>
    <%= event_form.label :participant_code, 'Participant Registration Code' %><br />
    <%= event_form.text_field :participant_code, :size => 50 %>
  </p>
  <p>
    <%= event_form.label :title, 'Logo' %><br />
    <% if !@event.new_record? and @event.logo_file_name != false %>
      <%= image_tag(@event.logo.url(:original), :id => 'logo') %><br/><br/>
    <% end %>
    <%= event_form.file_field :logo %>
  </p>
  <p>
    <%= event_form.submit @event.new_record? ? 'Create' : 'Update', {:class => "btn btn-primary"} %> or <%= link_to 'Cancel', events_path %>
  </p>
<% end %>