<% if !params[:source] %>
  <div id='page_title'>
    <%= title('Live Video', :h1) %>
  </div>
  <p>
    You can watch live video from any of the following feeds!
  </p>
  <p>
    <strong>Quizzing Rooms</strong><br/>
    <%= link_to "Boone Convocation", "http://www.q2014.org/pages/16-live-video-boone-convocation" %><br/>
    <%= link_to "Boone 102", video_pages_path({:source => "boone102", :name => "Boone 102"}) %><br/>
    <%= link_to "Boone 106", video_pages_path({:source => "boone106", :name => "Boone 106"}) %><br/>
    <%= link_to "Boone 115", video_pages_path({:source => "boone115", :name => "Boone 115"}) %><br/>
  </p>
<% elsif !['boone102', 'boone106', 'boone115'].include? params[:source] %>
  <script>window.location.replace("http://www.q2014.org/pages/video");</script>
<% else %>
  <div id='page_title'>
    <%= title("Live Video: " + params[:name], :h1) %>
  </div>
  <p><%= link_to "Other Video Feeds", video_pages_path %></p>
  <p>
    <script type='text/javascript' src='/javascripts/jwplayer.js'></script>
  </p>
  <div id="mediaspace">Flash Player must be installed! Videos will not work on Apple ipads, ipods, or iphones. Some android devices might work.</div>
  <p>
<script type='text/javascript'>
  jwplayer('mediaspace').setup({
    'flashplayer': '/player.swf',
    'type': 'rtmp',
    'streamer': 'rtmp://video.q2014.org/SOSample',
    'autostart': 'true',
    'bufferlength': '10',
    'file': '<%= params[:source] %>',
    'width': '640',
    'height': '480'
  });
</script>
  </p>
<% end %>
