<% content_for :admin do %>
  <h4>Actions</h4>
  <ul>
    <li><%= link_to 'Add new buildings', new_building_path %></li>
  </ul>
<% end %>

<div id='page_title'>
  <%= title('Buildings', :h1) %>
</div>

<%= select_tag 'event_select', options_from_collection_for_select(@events, "id", "name", @selected_event.to_i) %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Building</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @buildings.each do |building| %>
        <tr>
          <td><%= building.name %></td>
          <td>
            <%= link_to 'Edit', edit_building_path(building) %> :: 
            <%= link_to 'Delete', building, :confirm => 'Are you sure?', :method => :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>