<div class="team">
  <p>
    <%= form.label :name, "Team Name:" %>
    <%= form.text_field :name, :size => 30 %>
	&nbsp;
	<%= form.label :division, "Division:" %>
	<% if admin? %>
	<%= form.collection_select :division_id,
                                   @divisions,
                                   :id,
                                   :name,
                                   {:prompt => '- Select -' },
                                   {:class => 'division'}.merge((@team_registration.complete? and !admin?) ? {:disabled => 'disabled'} : {}) %>
    <% else %>
      <%= form.object.division.name %>
    <% end %>
    &nbsp;
    <%= form.label :coach, 'Coach:' %>
    <%= form.collection_select :coach_id,
                               @coaches,
                               :id,
                               :full_name,
                               {:prompt => '- Select -' },
                               {:class => 'coach'} %>
    &nbsp;
    <%= link_to 'Edit Quizzers', edit_team_path(form.object.id) %>
  </p>
</div>
