<div class='team'>
  <p>
    <%= form.label :name, 'Team Name:' %>
    <%= form.text_field :name, :size => 30 %>
	  &nbsp;
	  <%= form.label :division, 'Division:' %>
    <%= form.collection_select :division_id,
                               @divisions,
                               :id,
                               :name,
                               {:prompt => '- Select -' },
                               {:class => 'division',
                                :onchange => 'javascript: check_for_code_requirement(); update_fee();'
                               } %>
    &nbsp;
	  <%= form.label :coach, 'Coach:' %>
    <%= form.collection_select :coach_id,
                               @coaches,
                               :id,
                               :full_name,
                               {:prompt => '- Select -' },
                               {:class => 'coach'} %>
    &nbsp;
	  <%= remove_team_link( form ) %>
  </p>
</div>
