<div class='team'>
  <p>
    <%= form.label :name, 'Team Name:' %>
    <%= form.text_field :name, :size => 30 %>
	  &nbsp;
	  <%= form.label :division, 'Division:' %>
    <%= form.collection_select :division_id,
                               @divisions,
                               :id,
                               :name_price,
                               {:prompt => '- Select -' },
                               {:class => 'division',
                                :onchange => 'javascript: update_team_total(); check_regional_selection()'} %>
    &nbsp;
	  <%= remove_team_link( form ) %>
  </p>
</div>