<div id='page_title'>
  <%= title("Team Registration for #{@team_registration.full_name}", :h1) %>
  <p>Registration created on <%= @team_registration.created_at.strftime("%m/%d/%Y at %I:%M %p") %>.</p>
</div>
<p>
    Please use the form below to edit your team registration.
</p>

<% form_for [@user, @team_registration] do |f| %>
  <%= error_messages_for :team_registration, :header_message => "There were errors updating this registration.", :message => "We encountered the following problems:" %>

  <h3>Basics</h3>
  <% if @team_registration.complete? %>
  <p>
    <label>District</label><br/>
    <%= @team_registration.district.display_with_region %>
  </p>
  <% else %>
  <p>
  	<%= f.label :district, 'District' %><br/>
	<%= f.collection_select :district_id,
                                @districts,
                                :id,
                                :display_with_region,
                                {:prompt => '- Select -'},
                                {:id => 'district',
                                 :onchange => remote_function(:update => 'num_registrations',
                                                              :url => num_teams_districts_url,
                                                              :with => "'id='+value",
                                                              :complete => 'update_team_total()')} %>
  </p>
  <% end %>
  <p>
    <%= f.label :first_name, 'First Name' %><br/>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name, 'Last Name' %><br/>
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :phone, 'Phone # (preferably mobile)' %><br/>
    <label>(xxx-xxx-xxxx)</label><br/>
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
  </p>
  <% if @team_registration.complete? %>
  <% end %>

  <div id="teams">
    <h3>Teams</h3>
    <% if !@team_registration.complete? %>
      <% f.fields_for :teams do |team_form| %>
        <%= render :partial => 'team', :locals => { :form => team_form } %>
      <% end %>
    <% else %>
      <% f.fields_for :teams do |team_form| %>
        <%= render :partial => 'edit_team', :locals => { :form => team_form } %>
      <% end %>
    <% end %>
  </div>
  <% if !@team_registration.complete? %>
    <%= add_team_link(f) %>
    <div id='registration_code_row' style='display:none'>
      <%= f.label :registration_code, 'Registration Code' %><br />
      <%= f.text_field :registration_code, {:id => "registration_code"} %>
      <%= test_output("Registration Code: " + Event.active_event.team_code) if AppConfig.test_mode %>
    </div>
  <% end %>
  <% if !@team_registration.complete? %>
  <p id="fees_row" style="display:none" class="alert alert-info">
    You will need to make sure you submit a payment for your teams of $<span id="fee_display"></span> during the participant registration process. However, you will still be able to select quizzers for your teams once you've submitted this registration.
  </p>
  <% end %>
  <p>
    <%= f.submit 'Update Registration', {:id => 'submit_update', :class => 'btn btn-primary', :onclick => "$('#spinner').show(); $('#submit_update').prop('disabled', 'disabled'); $('#submit_update').val('Updating Team Registration...'); submit(); return false;", :autocomplete => 'off'} %>
    <span id='spinner' style='display:none;'>
      &nbsp;&nbsp;<img style='vertical-align: middle;' src='/images/spinner_white.gif'/>
    </span>
  </p>
<% end %>
<script>
	var user_first_name = '<%= current_user.first_name %>';
	var user_last_name = '<%= current_user.last_name %>';
	var user_phone = '<%= current_user.phone %>';
	var user_email = '<%= current_user.email %>';
	var user_district = '<%= current_user.district_id %>';

  /* fees and code requirements */
  var fees = [];
  var code_required = [];
  <% @divisions.each do |division| %>
    fees[<%= division.id %>] = <%= division.simple_price %>;
    code_required[<%= division.id %>] = <%= division.code_required ? 'true' : 'false' %>;
  <% end %>

  function update_fee() {
    $('#fees_row').hide();
    var divisions = $('.division:visible');
    var fee = 0.00;

    for (i = 0; i < divisions.length; i++) {
      var division_id = divisions[i].options[divisions[i].selectedIndex].value;
      if (division_id != '') {
        fee += fees[division_id];
      }
    }

    if (fee > 0) {
      $('#fee_display').html(fee);
      $('#fees_row').show();
    }
  }

  /* check the division being selected on the team registration page. if the
   * team being selected requires a code we show a required code text field */
  function check_for_code_requirement() {
    $('#registration_code_row').hide();
    var divisions = $('.division:visible');

    for (i = 0; i < divisions.length; i++) {
      var division_id = divisions[i].options[divisions[i].selectedIndex].value;
      if (division_id != '' && code_required[division_id] == true) {
        $('#registration_code_row').show();
      }
    }
  }
</script>

<% content_for :javascript do %>
  <script>
    /* run through all checks on first load */
    $( document ).ready(function() {
      check_for_code_requirement();
      update_fee();
    });
  </script>
<% end %>