<div id='page_title'>
  <%= title('My Team Registrations', :h1) %>
</div>

<% if @user.team_registrations.size > 0 %>
  From here you can view and make changes to your team registrations.<br/><br/>
<% else %>
  You do not have any team registrations. Would you like to <%= link_to 'register one', new_team_registration_path %>?
<% end  %>
<% if @user.team_registrations.size > 0 %>
  <b>My Team Registrations</b>
  <div class="table-responsive"> 
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Registered Teams</th>
          <th>Created On</th>
          <th>Payment Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @user.team_registrations.each do |team_registration| %>
          <tr>
            <td><%= team_registration.full_name %></td>
            <td><%= team_registration.teams.size %></td>
            <td><%= team_registration.created_at.strftime("%m/%d/%Y at %I:%M %p") %></td>
            <td><%= team_registration.paid? ? '<span class="label label-success">Paid</span>' : '<span class="label label-default">Pending</span>' %></td>
            <td><%= link_to 'Make Changes', edit_user_team_registration_path(@user, team_registration) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<% if @user.team_registrations.size > 0 %>
<p>
  <%= link_to('Register More Teams', new_team_registration_url) %>
</p>
<% end  %>
