<div id='page_title'>
  <%= title('Team Registration', :h1) %>
</div>
<%= render :partial => 'pages/page', :locals => { :page => @page } if !@page.nil? %>
<p>
    Please use the form below to register a new team or teams.
</p>
<% form_for @team_registration do |f| %>
  <%= error_messages_for :team_registration, :header_message => "There were errors with your registration.", :message => "We encountered the following problems:" %>

  <h3>Basics</h3>
  <p>
    <a href='#' onClick='javascript:fill_information(); return false;'>Use My Information</a>
  </p>
  <p>
  	<%= f.label :district, 'District' %><br/>
	  <%= f.collection_select :district_id,
                            @districts,
                            :id,
                            :display_with_region,
                            {:prompt => '- Select -'},
                            {:id => 'district'} %>
  </p>
  <p>
    <%= f.label :first_name, 'First Name' %><br />
    <%= f.text_field :first_name, {:id => "first_name"} %>
  </p>
  <p>
    <%= f.label :last_name, 'Last Name' %><br />
    <%= f.text_field :last_name, {:id => "last_name"} %>
  </p>
  <p>
    <%= f.label :phone, 'Phone # (preferably mobile)' %><br />
    <label>(xxx-xxx-xxxx)</label><br/>
    <%= f.text_field :phone, {:id => "phone"} %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email, {:id => "email"} %>
  </p>
  
  <div id="teams">
    <h3>Teams</h3>
    <% f.fields_for :teams do |team_form| %>
      <%= render :partial => 'team', :locals => { :form => team_form } %>
    <% end %>
  </div>
  <%= add_team_link(f) %><br/><br/>
  <p id='registration_code_row' style='display:none'>
    <%= f.label :registration_code, 'Registration Code' %><br />
    <%= f.text_field :registration_code, {:id => "registration_code"} %>
    <% test_output("Registration Code: " + Event.active_event.team_code + "</label>") if AppConfig.test_mode %>
  </p>
  <p id="fees_row" style="display:none" class="alert alert-info">
    In order to complete your registration you will need to submit payment of $<span id="fee_display"></span>. You will be redirected to a third party site to submit your credit card payment.
  </p>
  <p>
    <%= hidden_field_tag :commit_action, 'registration_action' %>
    <%= f.submit 'Submit Registration', {:id => 'submit_register', :class => 'btn btn-primary', :onclick => "$('#spinner').show(); $('#submit_register').prop('disabled', 'disabled'); $('#submit_save').prop('disabled', 'disabled'); $('#submit_register').val('Submitting Team Registration...'); submit(); return false;", :autocomplete => 'off'} %>
    <span id='spinner' style='display:none;'>
      &nbsp;&nbsp;<img style='vertical-align: middle;' src='/images/spinner_white.gif'/>
    </span>
  </p>
<% end %>
<script>
	var user_first_name = '<%= current_user.first_name %>';
	var user_last_name = '<%= current_user.last_name %>';
	var user_phone = '<%= current_user.phone %>';
	var user_email = '<%= current_user.email %>';
	var user_district = '<%= current_user.district_id %>';

  /* fees and code requirements */
  var fees = [];
  var code_required = [];
  <% @divisions.each do |division| %>
    fees[<%= division.id %>] = <%= division.simple_price %>;
    code_required[<%= division.id %>] = <%= division.code_required ? 'true' : 'false' %>;
  <% end %>

  function update_fee() {
    $('#fees_row').hide();
    var divisions = $('.division');
    var fee = 0.00;

    for (i = 0; i < divisions.length; i++) {
      var division_id = divisions[i].options[divisions[i].selectedIndex].value;
      if (division_id != '') {
        fee += fees[division_id];
      }
    }

    if (fee > 0) {
      $('#fee_display').html(fee);
      $('#fees_row').show();
    }
  }

  /* check the division being selected on the team registration page. if the
   * team being selected requires a code we show a required code text field */
  function check_for_code_requirement() {
    $('#registration_code_row').hide();
    var divisions = $('.division');

    for (i = 0; i < divisions.length; i++) {
      var division_id = divisions[i].options[divisions[i].selectedIndex].value;
      if (division_id != '' && code_required[division_id] == true) {
        $('#registration_code_row').show();
      }
    }
  }
</script>

<% content_for :javascript do %>
  <script>
    /* run through all checks on first load */
    $( document ).ready(function() {
      check_for_code_requirement();
      update_fee();
    });
  </script>
<% end %>
