<div id='page_title'>
  <%= title('Team Registration', :h1) %>
</div>
<%= render :partial => 'pages/page', :locals => { :page => @page } if !@page.nil? %>

<p>
  You have <%= current_user.num_district_teams_available %> district team registrations available.<br/>
  You have <%= current_user.num_local_teams_available %> local team registrations available.
</p>
<% form_for @team_registration do |f| %>
  <%= error_messages_for :team_registration, :header_message => "There were errors with your registration.", :message => "We encountered the following problems:" %>

  <h3>Basics</h3>
  <p>
    <a href='#' onClick='javascript:fill_information(); update_district_teams(); return false;'>Use My Information</a>
  </p>
  <p>
  	<%= f.label :district, 'District' %><br/>
	  <%= f.collection_select :district_id,
                            @districts,
                            :id,
                            :display_with_region,
                            {:prompt => '- Select -'},
                            {:id => 'district'} %>
  </p>
  <p>
    <%= f.label :first_name, 'First Name' %><br />
    <%= f.text_field :first_name, {:id => "first_name"} %>
  </p>
  <p>
    <%= f.label :last_name, 'Last Name' %><br />
    <%= f.text_field :last_name, {:id => "last_name"} %>
  </p>
  <p>
    <%= f.label :phone, 'Phone # (preferably mobile)' %><br />
    <label>(xxx-xxx-xxxx)</label><br/>
    <%= f.text_field :phone, {:id => "phone"} %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email, {:id => "email"} %>
  </p>
  
  <div id="teams">
    <h3>Teams</h3>
    <% f.fields_for :teams do |team_form| %>
      <%= render :partial => 'team', :locals => { :form => team_form } %>
    <% end %>
  </div>
  <%= add_team_link(f) %>
  <p id='regional_code' style='display:none'>
    <%= f.label :regional_code, 'Regional Code' %><br />
    <%= f.text_field :regional_code, {:id => "regional_code"} %>
    <%= test_output("Regional Code: " + AppConfig.regional_code + "</label>") if AppConfig.test_mode %>
  </p>
  <p>
    <%= hidden_field_tag :commit_action, 'registration_action' %>
    <%= f.submit 'Register Teams', :id => 'submit_register', :onclick => "$('spinner').show(); $('submit_register').disabled = true; $('submit_save').disabled = true; $('submit_register').value = 'Submitting Team Registration...'; submit(); return false;", :autocomplete => 'off' %>
    <%= f.submit 'Save For Later', :id => 'submit_save', :onclick => "$('spinner').show(); $('submit_register').disabled = true; $('submit_save').disabled = true; $('submit_save').value = 'Saving Team Registration...'; $('commit_action').value = 'save_action'; submit(); return false;", :autocomplete => 'off' %>
    <span id='spinner' style='display:none;'>
      &nbsp;&nbsp;<img style='vertical-align: middle;' src='/images/spinner_white.gif'/>
    </span>
  </p>
<% end %>
<script>
	var user_first_name = '<%= current_user.first_name %>';
	var user_last_name = '<%= current_user.last_name %>';
	var user_phone = '<%= current_user.phone %>';
	var user_email = '<%= current_user.email %>';
	var user_district = '<%= current_user.district_id %>';
</script>
<script>
  check_regional_selection();
</script>