<% content_for :admin do %>
	<h4>Actions</h4>
	<ul>
		<li><%= link_to 'Request Payment', new_payment_path %></li>
	</ul>
<% end %>

<div id='page_title'>
  <%= title('One Time Payments', :h1) %>
</div>

<div class="table-responsive"> 
  <table class="table table-striped">
    <thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Fee</th>
				<th>Paid?</th>
			</tr>
		</thead>
		<tbody>

			<% @payments.each do |payment| %>
				<tr>
					<td><%= payment.first_name %> <%= payment.last_name %></td>
					<td><%= payment.email %></td>
					<td>$<%= payment.fee %></td>
					<td><%= payment.paid? ? '<span class="label label-success">Yes</span>' : '<span class="label label-default">No</span>' %></td>
				</tr>
			<% end %>
		</tbody>
  </table>
</div>