<div id='page_title'>
  <%= title('Create a new payment request', :h1) %>
</div>

<% form_for @payment do |pform| %>
  <%= error_messages_for :payment, :header_message => "There were errors with creation of the payment.", :message => "We encountered the following problems:" %>

  <p>
    Please fill out the following form to send a one time payment request link to a user for <%= Event.active_event.title %>.
  </p>
  <p>
    <%= pform.label :first_name, 'First Name' %><br/>
    <%= pform.text_field :first_name %>
  </p>
  <p>
    <%= pform.label :last_name, 'Last Name' %><br/>
    <%= pform.text_field :last_name %>
  </p>
  <p>
    <%= pform.label :email, 'Email Address' %><br/>
    <%= pform.text_field :email %>
  </p>
  <p>
    <%= pform.label :fee, 'Fee' %><br/>
    <%= pform.text_field :fee %>
  </p>
  <p>
    <%= pform.label :description, 'Description' %><br/>
    <%= pform.text_area :description, :size => "50x6" %>
  </p>
  <p>
    <%= pform.submit 'Send Payment Email', :class => 'btn btn-primary' %>
  </p>
<% end %>