<div id='page_title'>
  <%= title('Thank you for your payment!', :h1) %>
</div>
<p>Please print this receipt for your records.</p>
<h2>Transaction Information:</h2>
<div class='receipt_details'>
  <div class='row'>
    <span class='label'>Transaction Time:</span>
    <span class='details'><%= @payment.transaction_time %></span>
  </div>
  <div class='row'>
    <span class='label'>Transaction Id:</span>
    <span class='details'><%= session[:transaction_id] %></span>
  </div>
</div>
<div style='clear: both;'></div>
<h2>Registration Information:</h2>
<div class='receipt_details'>
<% if (!@payment.team_registration.nil?)%>
  <% @payment.team_registration.teams.each do |team| %>
    <div class='row'>
      <span class='label'>Team:</span>
      <span class='details'><%= team.name %> (<%= team.division.name %>) - $<%= team.amount_in_cents / 100 %></span>
    </div>
    <% if team.discounted? %>
      <div class='row'>
        <span class='label'></span>
        <span class='details'>($15 discount applied)</span>
      </div>
    <% end %>
  <% end %>
  <div class='row' style='margin-top: 30px;'>
    <span class='label'>Payment Amount:</span>
    <span class='details'>$<%= @payment.team_registration.total_amount %></span>
  </div>
<% end %>
<% if (!@payment.participant_registration.nil?)%>
  <div class='row'>
    <span class='label'>Participant:</span>
    <span class='details'><%= @payment.participant_registration.full_name %></span>
  </div>
  <div class='row'>
    <% if (session[:participant_registration][:partial_payment]) %>
    <span class='label'>Partial Payment:</span>
    <% else %>
    <span class='label'>Full Payment:</span>
    <% end %>
    <span class='details'>$<%= session[:participant_registration][:registration_amount] / 100 %>.00</span>
  </div>
  <% if !session[:participant_registration][:skip_extras] and session[:participant_registration][:extras_amount] > 0 %>
  <div class='row'>
    <span class='label'>Extras:</span>
    <span class='details'>$<%= session[:participant_registration][:extras_amount] / 100 %>.00</span>
  </div>          
  <% end %>
  <div class='row' style='margin-top: 30px;'>
    <span class='label'>Payment Amount:</span>
    <span class='details'>$<%= @payment.amount_in_cents / 100 %>.00</span>
  </div>
<% end %>
</div>
<div style='clear: both;'></div>
<h2>Billing Information:</h2>

<div class='receipt_details'>
  <div class='row'>
    <span class='label'>First Name:</span>
    <span class='details'><%= @payment.first_name %></span>
  </div>
  <div class='row'>
    <span class='label'>Last Name:</span>
    <span class='details'><%= @payment.last_name %></span>
  </div>
  <div class='row'>
    <span class='label'>Address:</span>
    <span class='details'>
      <%= @payment.address %><br/>
      <%= @payment.city %>, <%= @payment.state %> <%= @payment.zipcode %><br/>
      <%= @payment.country %>
    </span>
  </div>
  <div class='row'>
    <span class='label'>Phone:</span>
    <span class='details'><%= @payment.phone %></span>
  </div>
  <div class='row'>
    <span class='label'>Email:</span>
    <span class='details'><%= @payment.email %></span>
  </div>
</div>
<div style='clear: both;'></div>
<%
# remove registrations and payment from the session
session[:team_registration] = nil
session[:participant_registration] = nil
session[:payment] = nil
session[:payment_id] = nil
session[:transaction_id] = nil
%>