<% content_for :equipment_admin do %>
  <h4>Actions</h4>
  <ul>
    <li><%= link_to 'Add new rooms', new_room_path %></li>
  </ul>
<% end %>

<div id='page_title'>
  <%= title('Rooms', :h1) %>
</div>

<%= select_tag 'event_select', options_from_collection_for_select(@events, "id", "name", @selected_event.to_i) %>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Room</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= room.name %></td>
          <td>
            <%= link_to 'Edit', edit_room_path(room) %> :: 
            <%= link_to 'Delete', room, :confirm => 'Are you sure?', :method => :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>