<div id='page_title'>
  <%= title('Redirecting For Payment', :h1) %>
</div>

<% if AppConfig.test_mode %>
  <p>The following values are being sent to CVent.</p>
  <p>
    First Name: <%= current_user.first_name %><br/>
    Last Name: <%= current_user.last_name %><br/>
    Email Address: <%= @transaction.email %><br/>
    Designation / Fee: <%= @transaction.fee %>
  </p>
<% else %>
  <p>Please wait while we redirect you for payment...</p>
<% end %>

<form id='cvent_form' action='http://sandbox-www.cvent.com/Events/APIs/Reg.aspx' method='post'>
  <input type='hidden' name='ecode' value='<%= AppConfig.ecode %>'>
  <input type='hidden' name='first_name' value='<%= current_user.first_name %>'>
  <input type='hidden' name='last_name' value='<%= current_user.last_name %>'>
  <input type='hidden' name='email_address' value='<%= @transaction.email %>'>
  <input type='hidden' name='designation' value='<%= @transaction.fee %>'>
  <input type='hidden' name='target' value='Registration'>
  <% if AppConfig.test_mode %>
    <input type='submit' name='submit' value='Redirect to CVent'>
  <% end %>
</form>

<% content_for :javascript do %>
  <script>
    /* run through all checks on first load */
    $( document ).ready(function() {
        <% if !AppConfig.test_mode %>
        /* automatically submit the form redirecting the user to CVent */
        $('#cvent_form').submit()
        <% end %>
    })
  </script>
<% end %>