<% content_for :admin do %>
<p>
  <%= link_to 'Add new regions', new_region_path %>
</p>
<% end %>

<div id='page_title'>
  <%= title('Regions', :h1) %>
</div>

<table>
  <tr>
    <th>Region</th>
	<th>Director</th>
	<th>Phone</th>
	<th>Mobile Phone</th>
	<th>Email</th>
	<th colspan='2'>Actions</th>
  </tr>

<% @regions.each do |region| %>
  <tr>
    <td><%= region.name %></td>
	<td><%= region.director unless region.director.blank? %></td>
	<td><%= region.phone unless region.phone.blank? %></td>
	<td><%= region.mobile_phone unless region.mobile_phone.blank? %></td>
	<td><%= region.email unless region.email.blank? %></td>
	<td><%= link_to 'Edit', edit_region_path(region) %><br/></td>
    <td><%= link_to 'Delete', region, :confirm => 'Are you sure?', :method => :delete %></td>
	</td>
  </tr>
<% end %>
</table>