<% content_for :admin do %>
	<h4>Actions</h4>
	<ul>
		<li><%= link_to 'Add new fields', new_region_path %></li>
	</ul>
<% end %>

<div id='page_title'>
  <%= title('Fields', :h1) %>
</div>

<div class="table-responsive"> 
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Field</th>
				<th>Director</th>
				<th>Phone</th>
				<th>Mobile Phone</th>
				<th>Email</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<% @regions.each do |region| %>
				<tr>
					<td><%= region.name %></td>
					<td><%= region.director unless region.director.blank? %></td>
					<td><%= region.phone unless region.phone.blank? %></td>
					<td><%= region.mobile_phone unless region.mobile_phone.blank? %></td>
					<td><%= region.email unless region.email.blank? %></td>
					<td>
						<%= link_to 'Edit', edit_region_path(region) %> ::
						<%= link_to 'Delete', region, :confirm => 'Are you sure?', :method => :delete %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>