<h1 style='margin-top:0;'>Q2010</h1>
<h2><%= @quizzers.first.quiz_division.name %></h2>
<%= link_to 'Team Standings', :action => 'team', :id => @quizzers.first.quiz_division, :pool => params[:pool] %> | Individual Standings
<br/><br/>
<table>
  <tr>
    <th>Rank</th>
    <th>Quizzer Name</th>
    <th>Team Name</th>
    <th>Rounds</th>
    <th>Points</th>
    <th>Average</th>
    <th>Correct</th>
    <th>Errors</th>
  </tr>
  <% i = 1 %>
  <% @quizzers.each do |quizzer| %>
    <tr>
      <td><%= i %></td>
      <td><%= quizzer.name %></td>
      <td><%= quizzer.quiz_team.name %></td>
      <td><%= quizzer.actual_rounds %> (<%= quizzer.total_rounds %>) </td>
      <td><%= quizzer.points %></td>
      <td><%= quizzer.average %></td>
      <td><%= quizzer.total_correct %></td>
      <td><%= quizzer.total_errors %></td>
    </tr>
    <% i += 1 %>
  <% end %>
</table>