<div id='page_title'>
  <%= title('Reports', :h1) %>
</div>
<p>
  Various reports for events can be downloaded from this page. Reports will default to the current active event, unless another event is chosen.
</p>
<p>
  Selected Event: <%= select_tag 'event_select', options_from_collection_for_select(@events, "id", "name", @selected_event.to_i) %>
</p>
<h3>Standard Reports</h3>
<p>
<% if admin? %>
  Team Registrations : 
  <%= link_to 'All', :controller => 'reports', :action => 'team_registrations_all', :event_id => @selected_event %> : 
  <%= link_to 'Paid', :controller => 'reports', :action => 'team_registrations_paid', :event_id => @selected_event %> : 
  <%= link_to 'Unpaid', :controller => 'reports', :action => 'team_registrations_unpaid', :event_id => @selected_event %> : 
    <%= link_to 'Off Campus Discounts', :controller => 'reports', :action => 'participant_registrations_offcampus_discount', :event_id => @selected_event %>
  <br/>
  Participant Registrations : 
  <%= link_to 'All', :controller => 'reports', :action => 'participant_registrations_all', :event_id => @selected_event %> : 
  <%= link_to 'Paid', :controller => 'reports', :action => 'participant_registrations_paid', :event_id => @selected_event %> : 
  <%= link_to 'Unpaid', :controller => 'reports', :action => 'participant_registrations_unpaid', :event_id => @selected_event %>
  <br/>
  Participants and Teams :
  <%= link_to 'Quizzers', :controller => 'reports', :action => 'quizzers_teams', :event_id => @selected_event %> : 
  <%= link_to 'Coaches', :controller => 'reports', :action => 'coaches_teams', :event_id => @selected_event %>
  <br/>
  <%= link_to 'Quizmachine File', :controller => 'reports', :action => 'quizmachine', :event_id => @selected_event %>
  <br/>
  <%= link_to 'Officials', :controller => 'reports', :action => 'officials', :event_id => @selected_event %>
  <br/>
  <%= link_to 'Equipment Registrations', :controller => 'reports', :action => 'equipment_registrations', :event_id => @selected_event %><br/>
<% end %>
<% if admin? or housing_admin? or ministry_project_admin? %>
  <%= link_to 'Event Staff', :controller => 'reports', :action => 'core_staff', :event_id => @selected_event %><br/>
  <%= link_to 'Group Leaders', :controller => 'reports', :action => 'group_leaders', :event_id => @selected_event %><br/>
  <%= link_to 'No Team', :controller => 'reports', :action => 'no_team', :event_id => @selected_event %><br/>
  Liability Forms :
  <%= link_to 'All', :controller => 'reports', :action => 'participants_liability', :event_id => @selected_event  %> :
  <%= link_to 'Received', :controller => 'reports', :action => 'participants_liability', :params => {:received => 'true', :event_id => @selected_event} %> :
  <%= link_to 'Not Received', :controller => 'reports', :action => 'participants_liability', :params => {:not_received => 'true', :event_id => @selected_event} %>
  <br/>
  <%= link_to 'Special Needs', :controller => 'reports', :action => 'special_needs', :event_id => @selected_event %><br/>
  Housing :
  <%= link_to 'All', :controller => 'reports', :action => 'housing_all', :event_id => @selected_event  %> :
  <%= link_to 'Pre', :controller => 'reports', :action => 'housing_pre', :event_id => @selected_event %> :
  <%= link_to 'Off Campus', :controller => 'reports', :action => 'housing_offcampus', :event_id => @selected_event %>
</p>
<h3>Group Leader Summary</h3>
<p>
  <% form_tag '/reports/group_leader_summary' do %>
    Select Group Leader:
    <%= select_tag :group_leader, '<option>- Select -</option>' + options_for_select(@group_leaders) %>
    <%= hidden_field_tag :event_id, @selected_event %>
    <%= submit_tag 'Submit', {:class => 'btn btn-primary'} %><br/>
    <%= link_to 'All Group Leaders', :controller => 'reports', :action => 'group_leader_summary', :event_id => @selected_event %>
  <% end %>
<% end %>
<% if admin? %>
<h3>Travel</h3>
<p>
  <%= link_to 'Flight Details', :controller => 'reports', :action => 'participants_flying', :event_id => @selected_event %><br/>
  <%= link_to 'Shuttle Requests', :controller => 'reports', :action => 'participants_shuttle', :event_id => @selected_event %><br/>
</p>
<% end %>
<% if admin? or housing_admin? %>
</p>
<h3>Housing</h3>
<p>
  <%= link_to 'Housing Assignments', :controller => 'reports', :action => 'housing_all', :event_id => @selected_event %><br/>
  <h3>Housing By Building</h3>
  <% form_tag '/reports/housing_by_building' do %>
    Select Building:
    <%= select_tag :building_id, '<option>- Select -</option>' + options_from_collection_for_select(@buildings, 'id', 'name') %>
    <%= hidden_field_tag :event_id, @selected_event %>
    <%= submit_tag 'Submit', {:class => 'btn btn-primary'} %><br/>
    <%= link_to 'All Buildings', :controller => 'reports', :action => 'housing_by_building', :event_id => @selected_event %><br/>
    <%= link_to 'Staying Off Campus', :controller => 'reports', :action => 'participant_registrations_off_campus', :event_id => @selected_event %>
  <% end %>
</p>
<h3>Housing By Group Leader</h3>
<p>
  <% form_tag '/reports/housing_by_group_leader' do %>
    Select Group Leader:
    <%= select_tag :group_leader, '<option>- Select -</option>' + options_for_select(@group_leaders) %>
    <%= hidden_field_tag :event_id, @selected_event %>
    <%= submit_tag 'Submit', {:class => 'btn btn-primary'} %><br/>
    <%= link_to 'All Group Leaders', :controller => 'reports', :action => 'housing_by_group_leader', :event_id => @selected_event %>
  <% end %>
<% end %>
<% if admin? or ministry_project_admin? %>
</p>
<h3>Ministry Projects</h3>
</p>
  <% form_tag '/reports/ministry_projects' do %>
    Select Ministry Project:
    <%= select_tag :ministry_project_id, '<option>- Select -</option>' + options_from_collection_for_select(@ministry_projects, 'id', 'name') %>
    <%= hidden_field_tag :event_id, @selected_event %>
    <%= submit_tag 'Submit', {:class => 'btn btn-primary'} %><br/>
    <%= link_to 'All Ministry Projects (Tabbed)', :controller => 'reports', :action => 'ministry_projects', :event_id => @selected_event %><br/>
    <%= link_to 'All Ministry Projects (Full)', :controller => 'reports', :action => 'ministry_projects_full', :event_id => @selected_event %>
  <% end %>
<% end %>