<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Q2016 :: Southern Nazarene University :: June 27 - July 1<%= " | #{h @page_title}" if @page_title %></title>
    <%= stylesheet_link_tag 'display' %>
    <%= javascript_include_tag "prototype" %>
    <%= yield :tinymce %>
    <%= javascript_include_tag "effects" %>
    <%= javascript_include_tag "controls" %>
    <%= javascript_include_tag "lowpro" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "util" %>
    <%= javascript_include_tag "flowplayer-3.2.11.min" %>
    
    <%= yield :tinymce_init %>

    <% if @refresh  %>
      <META HTTP-EQUIV=REFRESH CONTENT=30>
      <% end %>
  </head>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-11747101-7']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
  <body>

    <div id="header">
      <% if admin? %><div id='revision_info'><%= render :file => RAILS_ROOT + "/public/revision" %> (<a href='/history.txt'>history</a>)</div><% end %>
      <h1><%= link_to(image_tag('q2016_header.png', :height => 200), root_path) %></h1>
      <ul id="nav">
        <li><%= link_to 'Home', root_path %></li>
        <li><a href="/registrations">Register for Q2016</a></li>
        <li><%= link_to 'Team Registrations', user_team_registrations_path(current_user) %></a></li>
        <li><a href="/officials/new">Register As An Official</a></li>
        <li><a href="/Q2016%20Event%20Schedule.pdf" target="_blank">Event Schedule</a></li>
        <%= extra_pages %>
        <% if logged_in? %>
          <li><%= link_to 'Update Account', account_path %></li>
          <li class="login"><%= link_to current_user.fullname, account_path %></li>
          <li class="logout"><%= link_to 'Logout', logout_path %></li>
        <% else %>
          <li><%= link_to 'Login', login_path %></li>
        <% end %>
      </ul>
    </div>
